<!DOCTYPE html>
<head>

</head>
<body>
    <h1>
        Документация к апи
    </h1>
    <h2>
        VK
    </h2>
    <h3>
        /filter/
    </h3>
    <ul>
        <li>
            <h4>GET</h4>
            <p>
                Если паередается параметр 'view' и он равен true
                (http://some_ip:some_port/vk/filter/?view=true), возвращает сраничку,
                соответствующую фильтру
            </p>
        </li>
        <li>
            <h4>POST</h4>
            Пока не имплементировано
        </li>
        <li>
            <h4>PUT</h4>
            Пока не имплементировано
        </li>
        <li>
            <h4>DELETE</h4>
            Пока не имплементировано
        </li>
    </ul>
</body>