<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Админ панель</title>
    <link rel="stylesheet" href="mylib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="mylib/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="css/site.css" />

    <style>
        .dropdown-input label {
            display: block;
            padding: 3px 20px 0 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <div class="container col-lg-12 col-xl-10">
        <main role="main" class="pb-3">
            <form asp-action="#" asp-controller="#" asp-anti-forgery="true" class="form-signin">
                <div>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand">Вы вошли как, Администратор</a>

                        <form class="form-inline">
                            <a href="login.html" class="btn btn-outline-primary my-2 my-sm-0" type="button">Выйти</a>
                        </form>
                    </nav>

                    <div class="d-flex">
                        <div class="p-2">
                            <div class="btn-group m-2" role="group" aria-label="...">
                                <a href="index.html" type="button" class="btn btn-outline-primary">VK</a>
                                <a href="insta.html" type="button" class="btn btn-danger">Instagram</a>
                            </div>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-outline-warning m-2" type="button">Создать</button>
                        </div>
                        <div class="ml-auto p-2">
                            <button class="btn btn-outline-success m-2" type="button">Обновить</button>
                        </div>
                    </div>
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Парсер</th>
                                <th scope="col">Состояние</th>
                                <th scope="col">Потоков</th>
                                <th scope="col">Страна</th>
                                <th scope="col">Город</th>
                                <th scope="col">Обработано</th>
                                <th scope="col">Осталось</th>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% for parser in parsers %}
                            <tr>
                                <th scope="row">1</th>
                                <td>parser.Name</td>
                                <td>parser.Status</td>
                                <td>parser.Thread</td>
                                <td>parser.Country</td>
                                <td>parser.City</td>
                                <td>parser.AlreadyParced</td>
                                <td>parser.AllNeedToParce-parcer.AlreadyParced</td> 
                                <td>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-primary infoBTN"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-success playBTN"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-warning pauseBTN"><i class="fa fa-pause" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-danger deleteBTN"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            Do something with k and v here...
                            {% endfor %} -->
                            <tr>
                                <th scope="row">1</th>
                                <td>Парсер 1</td>
                                <td>Активен</td>
                                <td>50</td>
                                <td>Украина</td>
                                <td>Киев</td>
                                <td>2056</td>
                                <td>564</td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-primary infoBTN"
                                        data-toggle="modal" data-target="#infoFilterModal"><i class="fa fa-info-circle"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-success playBTN"><i
                                            class="fa fa-play" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-warning pauseBTN"><i
                                            class="fa fa-pause" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-danger stopBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-stop"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-info settingBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-cogs"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Парсер 2</td>
                                <td>Активен</td>
                                <td>100</td>
                                <td>Украина</td>
                                <td>Львов</td>
                                <td>2076</td>
                                <td>13065</td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-primary infoBTN"
                                        data-toggle="modal" data-target="#infoFilterModal"><i class="fa fa-info-circle"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-success playBTN"><i
                                            class="fa fa-play" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-warning pauseBTN"><i
                                            class="fa fa-pause" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-danger stopBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-stop"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-info settingBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-cogs"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Парсер 3</td>
                                <td>Активен</td>
                                <td>100</td>
                                <td>Россия</td>
                                <td>Москва</td>
                                <td>3609</td>
                                <td>5063</td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-primary infoBTN"
                                        data-toggle="modal" data-target="#infoFilterModal"><i class="fa fa-info-circle"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-success playBTN"><i
                                            class="fa fa-play" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-warning pauseBTN"><i
                                            class="fa fa-pause" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-danger stopBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-stop"
                                            aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-outline-info settingBTN"
                                        data-toggle="modal" data-target="#createFilterModal"><i class="fa fa-cogs"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="createFilterModal" tabindex="-1" role="dialog"
                    aria-labelledby="createFilterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createFilterModalLabel">Создание Инстаграм парсера</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-group ">
                                        <span class="font-weight-bold">
                                            Параметры фильтров Инстаграм парсера
                                        </span>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <span>
                                                Поиск тега:
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="row col-7">
                                                <div class="col-9 pr-0">
                                                    <input type="text" class="form-control" id="TegInput" list="tegs"
                                                        name="tegs" />
                                                    <datalist id="tegs">
                                                        <option value="mytag1"></option>
                                                        <option value="mytag2"></option>
                                                        <option value="mytag3"></option>
                                                        <option value="mytag4"></option>
                                                        <option value="newtag1"></option>
                                                        <option value="newtag2"></option>
                                                        <option value="newtag3"></option>
                                                        <option value="newtag4"></option>
                                                        <option value="othertag1"></option>
                                                        <option value="othertag2"></option>
                                                        <option value="othertag3"></option>
                                                        <option value="othertag4"></option>
                                                    </datalist>
                                                </div>
                                                <div class="col-3 pl-0">
                                                    <button type="button" class="btn btn-outline-success"
                                                        id="addNewTagBTN"><i class="fa fa-plus"
                                                            aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button"
                                                        data-toggle="dropdown">
                                                        Выбрать теги: <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu scrollable-menu" id="addedTags">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <div class="form-group">
                                            <span>
                                                Поиск группы:
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="row col-7">
                                                <div class="col-9 pr-0">
                                                    <input type="text" class="form-control" id="GroupInput"
                                                        list="groups" name="groups" />
                                                    <datalist id="groups">
                                                        <option value="mygroup1"></option>
                                                        <option value="mygroup2"></option>
                                                        <option value="mygroup3"></option>
                                                        <option value="mygroup4"></option>
                                                        <option value="newgroup1"></option>
                                                        <option value="newgroup2"></option>
                                                        <option value="newgroup3"></option>
                                                        <option value="newgroup4"></option>
                                                        <option value="othergroup1"></option>
                                                        <option value="othergroup2"></option>
                                                        <option value="othergroup3"></option>
                                                        <option value="othergroup4"></option>
                                                    </datalist>
                                                </div>
                                                <div class="col-3 pl-0">
                                                    <button type="button" class="btn btn-outline-success"
                                                        id="addNewGroupBTN"><i class="fa fa-plus"
                                                            aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button"
                                                        data-toggle="dropdown">
                                                        Выбрать группы: <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu scrollable-menu" id="addedGroups">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="form-group col-6">
                                            <label for="Thread">Количество потоков</label>
                                            <input type="number" class="form-control" id="Thread"
                                                aria-describedby="ThreadHelp" required>
                                            <small id="ThreadHelp" class="form-text text-muted">Количество потоков
                                                должно быть в диапазоне от 1 до 500.</small>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="Location">Локация</label>
                                            <input type="text" class="form-control" id="Location"
                                                aria-describedby="LocationHelp" required>
                                            <small id="LocationHelp" class="form-text text-muted">Локация должна быть на
                                                английском языке.</small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="Photo">Максимум фото со страницы</label>
                                            <input type="number" class="form-control" id="Photo"
                                                aria-describedby="PhotoHelp" required>
                                            <small id="PhotoHelp" class="form-text text-muted">Количество фото должно
                                                быть в диапазоне от 1 до 10.</small>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="Folder">Максимум папок в пакете</label>
                                            <input type="number" class="form-control" id="Folder"
                                                aria-describedby="FolderHelp" required>
                                            <small id="FolderHelp" class="form-text text-muted">Количество папок должно
                                                быть в диапазоне от 1 до 500.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary settingApplyBTN">Создать парсер</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="infoFilterModal" tabindex="-1" role="dialog"
                    aria-labelledby="infoFilterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoFilterModalLabel">Информация об Instagram парсере</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-group col-10">
                                        <h5>
                                            Параметры Instagram парсера
                                        </h5>
                                    </div>
                                    <div class="form-group col-6">
                                        <p>Состояние: <span id="parserStatus"></span></p>
                                        <p>Количество потоков: <span id="parserThread"></span></p>
                                        <p>Время начала работы: <span id="parserStartTime"></span></p>
                                    </div>
                                    <div class="form-group col-10">
                                        <p class="font-weight-bold">Фильтры парсера</p>
                                    </div>
                                    <div class="form-group col-10">
                                        <p>Теги: <span id="parserTags"></span></p>
                                        <p>Группы: <span id="parserGroups"></span></p>
                                        <p>Локация: <span id="parserLocation"></span></p>
                                        <p>Фотографий со страницы: <span id="parserPhotoByPage"></span></p>
                                        <p>Папок в пакете: <span id="parserFilesInPakage"></span></p>
                                    </div>
                                    <div class="form-group col-10">
                                        <p class="font-weight-bold">Парсер обработал</p>
                                        <p>Пользователей: <span id="parserParsedId"></span></p>
                                        <p>Страниц: <span id="parserParsedPages"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="m-auto">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </main>
    </div>

    <script src="mylib/jquery/dist/jquery.js"></script>
    <script src="mylib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="mylib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="mylib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>
    <script>
        $('#addNewTagBTN').on('click', function () {
            let newTag = $('#TegInput').val();
            $("#addedTags").append('<li class="dropdown-input"><label><input class="inputTags" type="checkbox" value="' + newTag + '">' + newTag + '</label></li>');
            $("#TegInput").val('');
        });
    </script>
    <script>
        $('#addNewGroupBTN').on('click', function () {
            let newGroup = $('#GroupInput').val();
            $("#addedGroups").append('<li class="dropdown-input"><label><input class="inputGroups"  type="checkbox" value="' + newGroup + '">' + newGroup + '</label></li>');
            $("#GroupInput").val('');
        });
    </script>

    <script>
        $('.settingApplyBTN').on('click', function () {
            var checkBoxesTags = [];
            $('.inputTags:checkbox:checked').each(function () {
                checkBoxesTags.push(this.value);
            });
            var checkBoxesGroups = [];
            $('.inputGroups:checkbox:checked').each(function () {
                checkBoxesGroups.push(this.value);
            });
            debugger;
            let location = $('#Location').val();
            let photo = $('#Photo').val();
            let thread = $('#Thread').val();
            let folder = $('#Folder').val();
            let result = location.match(/(\d*)\/([\w-]+)\/$/);
            let pageId = result[1];
            let pageFlag = result[2];
            debugger;
            $.ajax({
                url: '@Url.Action("Create", "Admin")',
                method: 'POST',
                data: {
                    Tags: checkBoxesTags,
                    Groups: checkBoxesGroups,
                    PageId: pageId,
                    PageFlag: pageFlag,
                    Photo: photo,
                    Thread: thread,
                    Folder: folder

                },
                success: function (result) {
                    debugger;
                    if (result.success) {
                        Swal.fire({
                            title: 'Успешно!',
                            text: result.message,
                            icon: 'success',
                            timer: 3000,
                            showConfirmButton: true
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Admin")';
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'Ошибка',
                            text: result.message,
                            icon: 'error',
                            timer: 4000,
                            showConfirmButton: true
                        });
                    }
                }
            })
        })
    </script>

    <script>

    </script>
    <script>
        $('.infoBTN').on('click', function () {
            debugger;
            let idParser = $('.parserId').val();
            $.ajax({
                url: '@Url.Action("infoParser", "Admin")',
                method: 'POST',
                data: {
                    id: idParser
                },
                success: function (data) {
                    $('#parserStatus').text(data.Status);
                    $('#parserStartTime').text(data.ParserStartTime);
                    $('#parserThread').text(data.Thread);
                    $('#parserTags').text(data.parserTags);
                    $('#parserGroups').text(data.parserGroups);
                    $('#parserLocation').text(data.parserLocation);
                    $('#parserPhotoByPage').text(data.PhotoByPage);
                    $('#parserFilesInPakage').text(data.FilesInPakage);
                    $('#parserParsedUserNames').text(data.ParsedUserNames);
                    $('#parserParsedPages').text(data.ParsedPages);
                }
            });
        });
    </script>
</body>

</html>